<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
  
  	<!-- Editor Start -->
	<!-- Servlets -->

	<servlet>
		<servlet-name>Project4uAdministrationImpl</servlet-name>
		<servlet-class>de.hdm.gruppe1.Project4u.server.Project4uAdministrationImpl</servlet-class>
	</servlet>
   
	<servlet-mapping>
		<servlet-name>Project4uAdministrationImpl</servlet-name>
		<url-pattern>/project4u/project4uAdministration</url-pattern>
		<url-pattern>project4ureport/project4uAdministration</url-pattern>
	</servlet-mapping>

	<!-- Editor Ende -->

	<!-- Report Start -->
	
	<servlet>
		<servlet-name>ReportGeneratorImpl</servlet-name>
		<servlet-class>de.hdm.gruppe1.Project4u.server.report.ReportGeneratorImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ReportGeneratorImpl</servlet-name>
		<url-pattern>/project4u/reportgenerator</url-pattern>
		<url-pattern>/project4ureport/reportgenerator</url-pattern>
	</servlet-mapping>
	
	<!-- Report Ende -->
	
	<!-- LOGIN Start -->
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>de.hdm.gruppe1.Project4u.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/project4u/login</url-pattern>
		<url-pattern>/project4ureport/login</url-pattern>
	</servlet-mapping>

	<!-- LOGIN Ende -->

	<!-- Default page to serve -->

	<welcome-file-list>
		<welcome-file>Project4u.html</welcome-file>
		<welcome-file>Project4uReport.html</welcome-file>
	</welcome-file-list>
</web-app>
